* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    .landing {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: rgb(192, 192, 192);

        h1 {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
            border: 2px solid grey;
            border-radius: 15px;
            margin: 10px;
            padding: 25px;
            width: 600px;
            text-align: center;
            font-size: 30px;
            font-family: Georgia, 'Times New Roman', Times, serif;

            animation: ease-in-out change 5s infinite;

            @keyframes change {
                0% {
                    background-color: rgb(160, 160, 160);
                }

                50% {
                    background-color: rgb(208, 208, 208);
                }

                100% {
                    background-color: rgb(160, 160, 160);
                }
            }

        }

        .text {
            text-align: center;
            font-size: 24px;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translateX(-50%);

            .link {
                color: black;

                &:hover {
                    cursor: pointer;
                    color: grey;
                    text-decoration: none;
                }
            }
        }
    }

    .projects {
        position: absolute;
        width: 100%;

        .container {

            .wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
                flex-direction: row;

                .item {

                    width: 150px;
                    height: 100px;
                }
            }
        }
    }
}