@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    background: url('../media/test_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

a {
    font-size: 20px;
    color: white;
    text-decoration: none;

    transition: color .25s ease-in-out;

    &:hover {
        color: rgb(218, 218, 218);
    }
}

.navbar {
    height: 160px;
    font-family: "Open sans", sans-serif;
}

.landing {
    height: 80px;
    font-family: "Open sans", sans-serif;
}

@media screen and (min-width: 800px) {
    body {
        position: relative;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            gap: 30px;
            z-index: 0;

            .logo-container {
                height: 80px;
                width: 80px;

                display: flex;
                justify-content: center;
                align-items: center;

                margin: 50px;
            }

            .onglets-container {
                align-items: center;
                height: 50px;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                .onglets {
                    display: flex;
                    flex-direction: row;
                    gap: 50px;


                    li {
                        height: 30px;
                        text-align: center;
                        line-height: 30px;
                        list-style: none;
                    }
                }
            }

            .contact-container {
                height: 80px;
                width: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 60px;

                .contact {
                    font-size: 20px;
                }
            }

        }

        .landing {
            position: absolute;
            top: 0;
            z-index: -1;

            width: 100%;
            height: 100vh;
            text-align: center;

            .container {
                position: relative;
                width: 1500px;
                max-width: 100vw;
                height: 100vh;

                display: inline-block;
                vertical-align: middle;

                .utile {
                    position: absolute;
                    z-index: 1;

                    top: 160px;
                    width: 100%;
                    height: calc(100vh - 160px);

                    display: flex;
                    justify-content: center;

                    .left {
                        width: 20%;

                        .pp-pres {
                            height: 100%;

                            img {
                                width: 100%;
                                object-fit: contain;
                                object-position: top left;
                                box-shadow: 2px 2px 5px 1px rgb(72, 72, 72);

                                position: relative;
                                top: 50px;
                                left: 0;
                            }

                            .legende {
                                width: 95%;
                                padding: 20px;
                                background-color: rgba(187, 187, 187, .6);
                                border-radius: 15px;
                                box-shadow: 3px 3px 10px 2px rgb(72, 72, 72);
                                position: relative;
                                top: 50px;

                                margin: 2.5%;
                                padding-top: 10px;

                                p {
                                    margin: 5px;
                                    line-height: 1.5;
                                    text-align: center;

                                    &:first-child {
                                        font-size: 24px;
                                    }

                                    &:nth-child(2) {
                                        font-size: 18px;
                                    }

                                    &:nth-child(3) {
                                        font-size: 16px;
                                        font-style: italic;
                                    }
                                }
                            }
                        }
                    }

                    .right {
                        width: 60%;
                    }
                }
            }
        }

        .footer {
            position: absolute;
            width: 1500px;
            max-width: 100vw;
            height: 70px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            display: flex;
            justify-content: space-between;
            align-items: center;

            .credits {
                margin: 20px;
                padding: 15px;
                color: rgb(201, 201, 201);

                a {
                    font-size: 16px;
                    color: rgb(201, 201, 201);
                    text-decoration: underline rgb(213, 45, 185);

                    &:hover {
                        color: rgb(213, 45, 185);
                    }
                }
            }

            .reseaux {
                display: flex;
                justify-content: center;
                gap: 30px;
                margin: 20px;

                a {
                    font-size: 30px;

                    .fa-linkedin {
                        color: #0e76a8;

                        &:hover {
                            color: #129bdb;
                        }
                    }

                    .fa-youtube {
                        color: #c4302b;

                        &:hover {
                            color: #f53c36;
                        }
                    }

                    .fa-github {
                        color: #171515;

                        &:hover {
                            color: #433c3c;
                        }
                    }

                    .fa-kaggle {
                        color: rgb(23, 133, 184);

                        &:hover {
                            color: rgb(29, 182, 255);
                        }
                    }

                    .fa-hackerrank {
                        color: rgb(44, 192, 91);

                        &:hover {
                            color: rgb(56, 241, 114);
                        }
                    }

                    .fab {
                        transition: color .15s ease-in-out;
                    }

                }
            }
        }
    }
}