@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: url("../media/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}

a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}
a:hover {
  color: rgb(218, 218, 218);
}

a .fa-linkedin {
  color: #0e76a8;
}
a .fa-linkedin:hover {
  color: #129bdb;
}
a .fa-youtube {
  color: #c4302b;
}
a .fa-youtube:hover {
  color: #f53c36;
}
a .fa-github {
  color: #171515;
}
a .fa-github:hover {
  color: #433c3c;
}
a .fa-kaggle {
  color: rgb(23, 133, 184);
}
a .fa-kaggle:hover {
  color: rgb(29, 182, 255);
}
a .fa-hackerrank {
  color: rgb(44, 192, 91);
}
a .fa-hackerrank:hover {
  color: rgb(56, 241, 114);
}
a .fab {
  transition: color 0.15s ease-in-out;
}

.navbar {
  height: 160px;
  font-family: "Open sans", sans-serif;
}

.projets {
  height: 80px;
  font-family: "Open sans", sans-serif;
}

@media screen and (min-width: 800px) {
  body {
    position: relative;
  }
  body .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    z-index: 1;
  }
  body .navbar .logo-container {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  body .navbar .logo-container img {
    width: 100px;
    position: absolute;
    top: 30px;
    left: 40px;
  }
  body .navbar .onglets-container {
    align-items: center;
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .navbar .onglets-container .onglets {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  body .navbar .onglets-container .onglets li {
    height: 30px;
    text-align: center;
    line-height: 30px;
    list-style: none;
  }
  body .navbar .contact-container {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
  }
  body .navbar .contact-container .contact {
    font-size: 20px;
  }
  body .projets {
    position: absolute;
    top: 160px;
    z-index: 0;
    width: 100%;
    height: calc(100vh - 160px);
    text-align: center;
  }
  body .projets .wrapper {
    position: relative;
    width: 1500px;
    max-width: 100vw;
    height: calc(100vh - 160px);
    display: inline-block;
    vertical-align: middle;
  }
  body .projets .wrapper .container {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .projets .wrapper .container .presentation {
    margin: 10px;
    margin-bottom: 70px;
    padding: 30px;
    width: 75%;
    background-color: rgba(168, 168, 146, 0.3);
  }
  body .projets .wrapper .container .presentation p {
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
  }
  body .projets .wrapper .container .item {
    width: 75%;
    max-width: 1100px;
    padding: 40px;
    margin-bottom: 100px;
    text-align: left;
    background-color: rgba(182, 182, 167, 0.73);
    border-radius: 10px;
    display: flex;
  }
  body .projets .wrapper .container .item .left {
    width: calc(25vw - 84px);
    max-width: 266px;
  }
  body .projets .wrapper .container .item .left img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top left;
       object-position: top left;
  }
  body .projets .wrapper .container .item .right {
    position: relative;
    padding: 30px;
    padding-top: 0;
    padding-bottom: 80px;
    max-width: 750px;
    height: auto;
  }
  body .projets .wrapper .container .item .right h2 {
    padding-bottom: 20px;
  }
  body .projets .wrapper .container .item .right p:nth-child(3) {
    margin-top: 50px;
  }
  body .projets .wrapper .container .item .right .liens {
    display: none;
    height: 50px;
    width: calc(100% - 60px);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body .projets .wrapper .container .item .right .liens span {
    width: 100%;
    padding: 5px;
  }
  body .projets .wrapper .container .item .right .liens span a {
    font-size: 25px;
  }
  body .footer {
    position: fixed;
    width: 1500px;
    max-width: 100vw;
    height: 70px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body .footer .credits {
    margin: 20px;
    padding: 15px;
    color: rgb(201, 201, 201);
  }
  body .footer .credits a {
    font-size: 16px;
    color: rgb(201, 201, 201);
    -webkit-text-decoration: underline rgb(213, 45, 185);
            text-decoration: underline rgb(213, 45, 185);
  }
  body .footer .credits a:hover {
    color: rgb(213, 45, 185);
  }
  body .footer .reseaux {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px;
  }
  body .footer .reseaux a {
    font-size: 30px;
  }
}
#alexandrov1 .liens span,
#dieu_joue_des .liens span,
#machine_apprend_lecun .liens span,
#contre_exemple .liens span,
#proba_stats_capes .liens span,
#analyse_fonctionnelle .liens span,
#fonctions_var_reelle_bourbaki .liens span,
#maths_cracks_term .liens span,
#maths_cracks_premiere .liens span,
#algebre_homologique_bourbaki .liens span,
#machine_learning_python .liens span {
  pointer-events: none;
  text-decoration: line-through;
}/*# sourceMappingURL=style_lectures.css.map */