@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: url('../media/test_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: white;
}

a {
    font-size: 20px;
    color: white;
    text-decoration: none;

    transition: color .25s ease-in-out;

    &:hover {
        color: rgb(218, 218, 218);
    }
}

a {
    .fa-linkedin {
        color: #0e76a8;

        &:hover {
            color: #129bdb;
        }
    }

    .fa-youtube {
        color: #c4302b;

        &:hover {
            color: #f53c36;
        }
    }

    .fa-github {
        color: #171515;

        &:hover {
            color: #433c3c;
        }
    }

    .fa-kaggle {
        color: rgb(23, 133, 184);

        &:hover {
            color: rgb(29, 182, 255);
        }
    }

    .fa-hackerrank {
        color: rgb(44, 192, 91);

        &:hover {
            color: rgb(56, 241, 114);
        }
    }

    .fab {
        transition: color .15s ease-in-out;
    }

}

.navbar {
    height: 160px;
    font-family: "Open sans", sans-serif;
}

.projets {
    height: 80px;
    font-family: "Open sans", sans-serif;
}

@media screen and (min-width: 800px) {
    body {
        position: relative;

        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            gap: 30px;
            z-index: 1;

            .logo-container {
                height: 80px;
                width: 80px;

                display: flex;
                justify-content: center;
                align-items: center;

                margin: 50px;
            }

            .onglets-container {
                align-items: center;
                height: 50px;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                .onglets {
                    display: flex;
                    flex-direction: row;
                    gap: 50px;


                    li {
                        height: 30px;
                        text-align: center;
                        line-height: 30px;
                        list-style: none;
                    }
                }
            }

            .contact-container {
                height: 80px;
                width: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 60px;

                .contact {
                    font-size: 20px;
                }
            }

        }

        .projets {
            position: absolute;
            top: 160px;
            z-index: 0;

            width: 100%;
            height: calc(100vh - 160px);
            text-align: center;

            .wrapper {
                position: relative;
                width: 1500px;
                max-width: 100vw;
                height: calc(100vh - 160px);

                display: inline-block;
                vertical-align: middle;

                .container {
                    position: absolute;
                    z-index: 1;

                    top: 0;
                    width: 100%;
                    padding: 40px;

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .presentation {
                        margin: 10px;
                        margin-bottom: 70px;
                        padding: 30px;
                        width: 75%;
                        background-color: rgba($color: rgb(168, 168, 146), $alpha: .3);

                        p {
                            text-align: left;
                            font-size: 20px;
                            line-height: 1.5;
                        }
                    }

                    .item {
                        width: 75%;
                        max-width: 1100px;
                        padding: 40px;
                        margin-bottom: 100px;
                        text-align: left;
                        background-color: rgba(182, 182, 167, 0.73);
                        border-radius: 10px;

                        display: flex;


                        .left {
                            width: calc(25vw - 84px);
                            max-width: 266px;

                            img {
                                width: 100%;
                                object-fit: cover;
                                object-position: top left;
                            }
                        }

                        .right {
                            position: relative;
                            padding: 30px;
                            padding-top: 0;
                            padding-bottom: 80px;
                            max-width: 750px;
                            height: auto;

                            h2 {
                                padding-bottom: 20px;
                            }

                            .liens {
                                display: none;


                                height: 50px;
                                width: calc(100% - 60px);
                                position: absolute;
                                bottom: 0;

                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                span {
                                    width: 33%;
                                    padding: 5px;

                                    a {
                                        font-size: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .footer {
            position: fixed;
            width: 1500px;
            max-width: 100vw;
            height: 70px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            display: flex;
            justify-content: space-between;
            align-items: center;

            .credits {
                margin: 20px;
                padding: 15px;
                color: rgb(201, 201, 201);

                a {
                    font-size: 16px;
                    color: rgb(201, 201, 201);
                    text-decoration: underline rgb(213, 45, 185);

                    &:hover {
                        color: rgb(213, 45, 185);
                    }
                }
            }

            .reseaux {
                display: flex;
                justify-content: center;
                gap: 30px;
                margin: 20px;

                a {
                    font-size: 30px;
                }
            }
        }
    }
}